In [116]:
data_science_jobs= [
    {'job_title': 'Data Scientist','job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Data Engineer', 'job_skills': "['AWS', 'Python', 'TensorFlow']", 'job_date': '2023-05-18'},
     {'job_title': 'Data Analyst', 'job_skills': "['Python', 'Data Anlysis', 'SQL']", 'job_date': '2023-05-06'}
    ]
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': '2023-05-12'},
 {'job_title': 'Data Engineer',
  'job_skills': "['AWS', 'Python', 'TensorFlow']",
  'job_date': '2023-05-18'},
 {'job_title': 'Data Analyst',
  'job_skills': "['Python', 'Data Anlysis', 'SQL']",
  'job_date': '2023-05-06'}]

In [117]:
from datetime import datetime

In [118]:
datetime.now()

datetime.datetime(2024, 10, 27, 12, 5, 48, 156994)

In [119]:
type(data_science_jobs[0]['job_date'])

str

In [120]:
test_date = (data_science_jobs[0]['job_date'])

In [121]:
datetime.strptime(test_date, '%Y-%m-%d')

datetime.datetime(2023, 5, 12, 0, 0)

In [122]:
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [123]:
import ast

for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [124]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['AWS', 'Python', 'TensorFlow'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['Python', 'Data Anlysis', 'SQL'],
  'job_date': datetime.datetime(2023, 5, 6, 0, 0)}]

In [125]:
import pandas as pd

In [126]:
!pip list

Package                   Version
------------------------- -----------
aiohappyeyeballs          2.4.3
aiohttp                   3.10.10
aiosignal                 1.3.1
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
astropy                   5.3.4
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.7
Brotli                    1.0.9
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.2.1
contourpy                 1.2.0
cycler                    0.11.0
datasets                  3.0.2
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
dill                      0.3.8
echo                      0.5
et-xmlfile                1.1.0
executing                 0.8.3
fast-histogram            0.9
fastjsonschema            2.16.2
filelock                  3.16.1
fonttools                 4.51.0
frozenlist                1.5.0
fsspec                    2024.9.0
glue-core                 1.2.4
glue-vispy-viewers        0.12.2
glueviz                   1.0.0
h5py                      3.11.0
huggingface-hub           0.26.1
idna                      3.7
imagecodecs               2023.1.23
imageio                   2.33.1
ipykernel                 6.28.0
ipython                   8.20.0
ipywidgets                8.1.5
jedi                      0.18.1
Jinja2                    3.1.3
json5                     0.9.6
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter_client            8.6.0
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab_widgets        3.0.13
kiwisolver                1.4.4
lazy_loader               0.3
MarkupSafe                2.1.3
matplotlib                3.9.0
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
mpl-scatter-density       0.7
mplcursors                0.5.3
multidict                 6.1.0
multipledispatch          1.0.0
multiprocess              0.70.16
natsort                   8.4.0
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.6.0
networkx                  3.1
notebook                  7.0.8
notebook_shim             0.2.3
numexpr                   2.8.7
numpy                     1.26.4
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.2
panda                     0.3.1
pandas                    2.2.3
pandas-flavor             0.6.0
pandocfilters             1.5.0
parso                     0.8.3
patsy                     0.5.6
pillow                    10.3.0
pip                       24.0
platformdirs              3.10.0
plotly                    5.9.0
plotly-express            0.4.1
ply                       3.11
prometheus-client         0.14.1
prompt-toolkit            3.0.43
propcache                 0.2.0
psutil                    5.9.0
pure-eval                 0.2.2
pyarrow                   17.0.0
pycparser                 2.21
pyerfa                    2.0.0
Pygments                  2.15.1
pyjanitor                 0.27.0
PyOpenGL                  3.1.1a1
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-certifi-win32      1.6.1
python-dateutil           2.9.0.post0
python-json-logger        2.0.7
pytz                      2024.1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.1
QtPy                      2.4.1
referencing               0.30.2
requests                  2.32.3
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-image              0.22.0
scipy                     1.13.0
seaborn                   0.13.2
Send2Trash                1.8.2
setuptools                69.5.1
setuptools-scm            8.1.0
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
statsmodels               0.14.2
tenacity                  8.2.2
terminado                 0.17.1
tifffile                  2023.4.12
tinycss2                  1.2.1
tornado                   6.3.3
tqdm                      4.66.5
traitlets                 5.7.1
typing_extensions         4.11.0
tzdata                    2023.3
unicodedata2              15.1.0
urllib3                   2.2.1
wcwidth                   0.2.5
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.43.0
widgetsnbextension        4.0.13
win-inet-pton             1.1.0
wrapt                     1.16.0
xarray                    2024.6.0
xlrd                      2.0.1
xxhash                    3.5.0
yarl                      1.16.0

In [127]:
class Salary:
    def __init__(self, amount, symbol, bonus_rate):
        """
        Initialize the Salary instance.

        Args:
          amount (float): The salary amount (either total salary or bonus).
          symbol (str): The currency symbol.
          bonus_rate (float): The bonus rate.
        """
        self.amount = amount
        self.symbol = symbol
        self.bonus_rate = bonus_rate

    def __repr__(self):
        """
        Represent the Salary instance as a string with currency format.
        """
        return f"{self.symbol}{self.amount:,.2f}"


class BaseSalary:
    def __init__(self, base_salary, bonus_rate=0.1, symbol="$", ):
        """
        Initialize the BaseSalary instance for managing salary computations.

        Args:
          base_salary (float): The base salary.
          bonus_rate (float): The bonus rate. Default is 0.1.
          symbol (str): The currency symbol. Default is "$".
        """
        self.base_salary = base_salary
        self.bonus_rate = bonus_rate
        self.symbol = symbol
        
    def __repr__(self):      
        return f"{self.symbol}{self.base_salary:,.0f}"

    def calculate_total_salary(self):
        """
        Calculate the total salary based on the base salary and the bonus rate.

        Returns:
          Salary: The total salary as a Salary instance, retaining the symbol and bonus rate.
        """
        total_salary = self.base_salary * (1 + self.bonus_rate)
        return Salary(total_salary, self.symbol, self.bonus_rate)

    def calculate_bonus(self):
        """
        Calculate the bonus based on the base salary and the bonus rate.

        Returns:
          Salary: The bonus as a Salary instance, retaining the symbol and bonus rate.
        """
        bonus_amount = self.base_salary * self.bonus_rate
        return Salary(bonus_amount, self.symbol, self.bonus_rate)

In [128]:
BaseSalary(100000)

$100,000

In [129]:
data_salary = BaseSalary(150000, .2)
data_salary

$150,000

In [130]:
data_salary.calculate_total_salary()

$180,000.00

In [131]:
data_salary.calculate_bonus()

$30,000.00

In [132]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$", ):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1+ bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.2f}'
  def show_salary(self):
    return f'{self.symbol}{self.total_salary:,.2f}'
  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.2f}'

In [133]:
import numpy as np

In [134]:
# create a list of 1,000,000 salaries ranging fron 50,000 to 150,000
import random
salary_list = [random.randint(50000, 100000) for _ in range (10_000_000)]

In [135]:
import statistics

In [136]:
%%timeit
statistics.mean(salary_list)

3.39 s ± 550 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [137]:
import numpy as np

In [138]:
%%timeit
np.mean(salary_list)

679 ms ± 101 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [139]:
my_array = np.array([1, 2, 3, 4, 5])
my_array

array([1, 2, 3, 4, 5])

In [140]:
my_array.mean()

3.0

In [141]:
my_array.min()

1

In [142]:
my_array.max()

5

In [143]:
# Job Title
job_titles = np.array(['Data Analyst', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# Base Salaries
base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

# Bonus Rates
bonus_rates = np.array([0.05, .1, .08, .12, np.nan])

In [144]:
total_salaries = base_salaries * (1 + bonus_rates)
total_salaries

array([ 63000.,  88000.,  81000., 100800.,     nan])

In [145]:
np.nanmean(total_salaries)

83200.0

In [146]:
!pip list

Package                   Version
------------------------- -----------
aiohappyeyeballs          2.4.3
aiohttp                   3.10.10
aiosignal                 1.3.1
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
astropy                   5.3.4
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.7
Brotli                    1.0.9
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.2.1
contourpy                 1.2.0
cycler                    0.11.0
datasets                  3.0.2
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
dill                      0.3.8
echo                      0.5
et-xmlfile                1.1.0
executing                 0.8.3
fast-histogram            0.9
fastjsonschema            2.16.2
filelock                  3.16.1
fonttools                 4.51.0
frozenlist                1.5.0
fsspec                    2024.9.0
glue-core                 1.2.4
glue-vispy-viewers        0.12.2
glueviz                   1.0.0
h5py                      3.11.0
huggingface-hub           0.26.1
idna                      3.7
imagecodecs               2023.1.23
imageio                   2.33.1
ipykernel                 6.28.0
ipython                   8.20.0
ipywidgets                8.1.5
jedi                      0.18.1
Jinja2                    3.1.3
json5                     0.9.6
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter_client            8.6.0
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab_widgets        3.0.13
kiwisolver                1.4.4
lazy_loader               0.3
MarkupSafe                2.1.3
matplotlib                3.9.0
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
mpl-scatter-density       0.7
mplcursors                0.5.3
multidict                 6.1.0
multipledispatch          1.0.0
multiprocess              0.70.16
natsort                   8.4.0
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.6.0
networkx                  3.1
notebook                  7.0.8
notebook_shim             0.2.3
numexpr                   2.8.7
numpy                     1.26.4
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.2
panda                     0.3.1
pandas                    2.2.3
pandas-flavor             0.6.0
pandocfilters             1.5.0
parso                     0.8.3
patsy                     0.5.6
pillow                    10.3.0
pip                       24.0
platformdirs              3.10.0
plotly                    5.9.0
plotly-express            0.4.1
ply                       3.11
prometheus-client         0.14.1
prompt-toolkit            3.0.43
propcache                 0.2.0
psutil                    5.9.0
pure-eval                 0.2.2
pyarrow                   17.0.0
pycparser                 2.21
pyerfa                    2.0.0
Pygments                  2.15.1
pyjanitor                 0.27.0
PyOpenGL                  3.1.1a1
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-certifi-win32      1.6.1
python-dateutil           2.9.0.post0
python-json-logger        2.0.7
pytz                      2024.1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.1
QtPy                      2.4.1
referencing               0.30.2
requests                  2.32.3
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-image              0.22.0
scipy                     1.13.0
seaborn                   0.13.2
Send2Trash                1.8.2
setuptools                69.5.1
setuptools-scm            8.1.0
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
statsmodels               0.14.2
tenacity                  8.2.2
terminado                 0.17.1
tifffile                  2023.4.12
tinycss2                  1.2.1
tornado                   6.3.3
tqdm                      4.66.5
traitlets                 5.7.1
typing_extensions         4.11.0
tzdata                    2023.3
unicodedata2              15.1.0
urllib3                   2.2.1
wcwidth                   0.2.5
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.43.0
widgetsnbextension        4.0.13
win-inet-pton             1.1.0
wrapt                     1.16.0
xarray                    2024.6.0
xlrd                      2.0.1
xxhash                    3.5.0
yarl                      1.16.0

In [147]:
df = pd.read_csv ('California_Housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [148]:
type(df)

pandas.core.frame.DataFrame

In [149]:
df ['total_rooms']

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

In [150]:
df.total_rooms

0         880.0
1        7099.0
2        1467.0
3        1274.0
4        1627.0
          ...
20635    1665.0
20636     697.0
20637    2254.0
20638    1860.0
20639    2785.0
Name: total_rooms, Length: 20640, dtype: float64

In [151]:
df.total_rooms[0]

880.0

In [152]:
from datasets import load_dataset

In [158]:
dataset=pd.read_csv('data_jobs.csv', low_memory=False)
dataset

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,NaN,NaN,NaN,Boehringer Ingelheim,NaN,NaN
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,NaN,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,NaN,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,NaN,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,NaN,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,NaN,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,NaN,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,NaN,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,NaN,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"